{% extends "layout.html" %}

{% block body %}

<form action="" method="post">
    {% csrf_token %}
    <div class="card border-primary card-body d-flex flex-column justify-content-center align-items-center mx-auto mt-5" style="width: 50%; margin: auto;">
        <h1>Register your account here</h1>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="team">Team</label>
          <!-- <input name="team" type="text" class="form-control" id="team" placeholder="Team"> -->
          <select name="team" type="text" class="form-control" id="items">
            <option value="0">---------</option>
            {% for t in teams %}
              <option value="{{ t.id }}">{{t}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>

{% if error %}
    <div class="alert alert-danger alert-dismissable show fade text-center mt-3" style="width: 30%; margin: auto;" role="alert">
      {{ error }}
    </div>
{% endif %}

{% endblock %}
